*{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        overflow-x: hidden;
       
        }
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #AB6E8A;
    --secondary-color: #d6bbce;
    --text-color:black;
   
}
.navbar {
 
  backdrop-filter: blur(3px);

}

#home{
    display: flex;
    justify-content: center;
   align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    /* text-align: center;
  background: url(img1.jpg);
  opacity: 0.5 ;
   background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; */
overflow: hidden;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(img1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;        
  z-index: -1;
}

.first {
  color: var(--primary-color);
  z-index: 1;        
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.first h1{
  overflow: hidden;

white-space: nowrap;
  width: 0;
  animation: typing 3s steps(25) forwards, blink 0.7 step-end;

}
.first h2{
  overflow: hidden;

  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(25) forwards, blink 0.7 step-end;
  animation-delay: 3s;
}
@keyframes typing {
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} 
#about{
    width: 100%;
 padding: 5%;
}
#about h3{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#about p{
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dedeepya{
    color: var(--primary-color);
    font-weight: bolder;
   font-size: 1.5rem;
}
.line1 {
  width: 10%;
  height: 1px;
  background: var(--primary-color);
  margin: 0 auto;
  position: relative;
}

.line1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 30%;   
  height: 2px;
  background: var(--primary-color);
}



/* education */
  #education{
    width: 100%;
    padding-bottom: 5%;
  }
  #education h3{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .tedu{
    
    gap: 5%;
    flex-wrap: wrap; 
    margin-top: 3%;
  }
 
  .content{
    position: relative;
    margin-bottom: 20px;
  }
  .content::before{
    content: '';
    position: absolute;
    left: -3%;
    top: 10%;
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
  }
#skills h3{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rounded-circle {
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 50%;
     padding-top:1%; 
    display: flex;
    justify-content: center;
    align-items: center;
   }    
  .line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    flex-direction: row;
    color: white;
  }
  .line2{
    width: 9%;
    height: 1px;
    background: var(--primary-color);
    margin: 0 auto;
    position: relative;
  }
  .line2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    width: 30%;   
    height: 2px;
    background: var(--primary-color);
  }
  #project{
    width: 100%;
    padding-top: 5%;
  }
  #project h3{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .line3 {
    width: 9%;
    height: 1px;
    background: var(--primary-color);
    margin: 0 auto;
    position: relative;
  }
  .line3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    width: 30%;   
    height: 2px;
    background: var(--primary-color);
  }
  .works{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }
  .work-card{
  height: 300px;
  cursor: pointer;
  margin-top: 10%;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.work-scroll{
  max-height: 230px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
#cigai{
    width: 100%;
    padding: 5%;
  }
  
#cigai h3{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
    margin-top: 3%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 3%;
  }
.contact{
  display: flex;
  gap: 20px;
 justify-content: space-around;
  flex-direction: row;
  margin-top: 3%;

}
.cigai-card{
  height: 500px;
  cursor: pointer;
  margin-top: 5%;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
.cigai-scroll{
  max-height: 430px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.matter h1{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.matter p{
  padding: 3% 10%;
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.matter a{
    margin-left: 10%;
    font-size: larger;
    color: var(--primary-color);
    font-weight: bold;
}
#certificates{
    width: 100%;
    padding: 5%;
  }
#certificates h3{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .c-card{
    
    cursor: pointer;
    margin-top: 5%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
  }
  .btn1{
    margin-bottom: 3%;
    margin-top: 1%;
    background-color: var(--primary-color);
    color: white !important;
    border: none;
    padding: 2%;
    border-radius: 5px !important;
  }
  .c-card h4{
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 1%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 .c-card a{
  text-decoration: none;
  color: white !important;
 }
 .c-card i{
    color: var(--secondary-color);
    font-size: 1.5rem;
 }
#contact{
    width: 100%;
  }
#contact h3{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-c{
  border: 0;
}
i{
    color: var(--primary-color);
    margin-right: 10px;

}
.card-c a{
    margin-right: 10px;
    border: none;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
  }
  
  footer p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
/* media queries */
@media only screen and (max-width: 600px) {
    #home{
        height: 100vh;
    }
    .first h1, .first h2{
        font-size: 1.5rem;
    }
  /* .navbar-collapse{
    background-color: var(--secondary-color);
  } */
  .navbar-collapse {
    background-color: var(--primary-color);   
    padding-left: 2%;
    border-radius: 10px;
  }

  .navbar-nav .nav-link {
    color: var(--secondary-color) !important;
   
  }
  #about h3 {
    font-size: 1.5rem;
  }
 #skills .line{
    flex-direction: column;
    gap: 20px;
 }
 .rounded-circle {
    width: 80px;
    height: 80px;
    padding-top: 8%;
 }
 #project h3{
  margin-top: 5%;
 }
.works{
    flex-direction: column;
    gap: 20px;
    padding: 5%;
}
.line1, .line2, .line3 {
    width: 22%;
  } 
  #education h3, #cigai h3{
    margin-top: 5%;
  }
  #education{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.tedu h4{
    font-size: 1.2rem;

}
  #contact h3{
    margin-top: 5%;
  }
  .content{
  padding: 3%;
  }
  .main{
    flex-direction: column;
    gap: 20px;
    
    margin-left: 5%;
  }
  .contact{
    flex-direction: column;
    gap: 20px;
    padding: 5%;
    margin-left: 5%;
  }
}